<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/highcharts/js/highcharts.js" type="text/javascript"></script>
<script src="/static/js/grafici/vraboteni_spored_ekonomskiot_status_i_polot/stacked_column.js" type="text/javascript"></script>
<script src="/static/js/grafici/vraboteni_spored_ekonomskiot_status_i_polot/pie.js" type="text/javascript"></script>
<script src="/static/js/grafici/vraboteni_spored_ekonomskiot_status_i_polot/line.js" type="text/javascript"></script>
</head>
<body>
<div>
<div id="container1">  </div>
</br></br></br></br></br>
<div id="container2">  </div>
</br></br></br></br></br>
<div id="container">  </div>
</div>
</body>
</html>
